<h1>Create Invoice</h1>


<body>   

<form>
    <!-- Member -->
    <label>Member:</label>
    <input class="form-control" type="text" name="member" placeholder="please enter member" ng-model="invoiceData.member">
    <br>

    <!-- Invoice Date -->
    <label>Date:</label>
    <input class="form-control" type="date" name="invoiceDate" placeholder="please enter invoice date" ng-model="invoiceData.invoicedate">
    <br>

    <!-- Due Date -->
    <label>Due Date:</label>
    <input class="form-control" type="date" name="invoiceDueDate" placeholder="please enter invoide due date" ng-model="invoiceData.invoiceduedate">
    <br>

        <!-- Chapter -->
    <label>Chapter:</label>
    <input class="form-control" type="text" name="chapter" placeholder="please select chapter" ng-model="invoiceData.chapter">
    <br>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="personalDetail in personalDetails">
                                        <td>
                                            <input type="checkbox" ng-model="personalDetail.selected"/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="personalDetail.item" required></td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="personalDetail.quantity" required></td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="personalDetail.rate" required></td>
                                        <td>{{ personalDetail.amount = personalDetail.quantity * personalDetail.rate}}</td>

                                    </tr>
<!-- 
                                    <tr>
                                         <td></td>
                                         <td></td>
                                         <td></td>
                                          <td><b>Total: </b></td>
                                          <td><b>{{invoiceData.totalamountdue=total()}}</b></td></b>
                                    </tr> -->

                                    <tr>
                                        <th colspan="9">
                                            <div class="row">
                                                <div class="col-sm-6 order-number"></div>
                                                <div class="col-sm-6 text-right order-total">Total: ${{invoiceData.totalamountdue=total()}}</div>
                                            </div>
                                        </th>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="form-group">
                                <input ng-hide="!personalDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove">
                                <!-- <input type="submit" class="btn btn-primary addnew pull-right" value="Add New"> -->
                                <td><button type="button" class="btn btn-primary" ng-click="addNew(personalDetails.length)">Add item</button></td>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" ng-click="createinvalert(invoiceData)">Create Invoice</button>

    </form>
    <br>

            <div class="row show-hide-message" ng-show="successMsg">
        <div class="alert alert-success">{{successMsg}}</div>
    </div>
        
        <br>

    <div class="row show-hide-message" ng-show="errorMsg">
        <div class="alert alert-danger">{{errorMsg}}</div>
    </div>

    <div class = "jumbotron text-center" ng-show="invoice.loading">
    <span class = "glymphicon glymphicon-repeat spinner"></span>
    <p>Loading...</p>

</div>
    <br>


</body>


