<div class  "page-header" > 

<h1>User Login</h1>

</div>

<form ng-submit ="main.doLogin(loginData)"> 
	<!-- Username -->
	<label>Username:</label>
	<input ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" class="form-control" type="text" name="username" placeholder="please enter username" ng-model="main.loginData.username">
	<br>

	<!-- Password -->
	<label>Password:</label>
	<input ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" class="form-control" type="password" name="password" placeholder="please enter password" ng-model="main.loginData.password">
	<br>
	
	<button ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" class="btn btn-primary" type="submit">Login</button>&nbsp
	<button ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" type="button" class="btn btn-success" ng-click="main.facebook();">Facebook</button>
	<button ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" type="button" class="btn btn-warning" ng-click="main.twitter();">Twitter</button>
	<button ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" type="button" class="btn btn-info" ng-click="main.google();">Google</button>

	<div class ="reset">
		<a href="/resetpassword"><button ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" type="button" class="btn btn-danger">Forgot Password</button></a>

		<a href="/resetusername"><button ng-disabled ="main.disabled || facebook.disabled || twitter.disabled || google.disabled" type="button" class="btn btn-primary">Forgot Username</button></a>

	</div>

</form>

<br>

<div class = "jumbotron text-center" ng-show="main.loading">
	<span class = "glymphicon glymphicon-repeat spinner"></span>
	<p>Loading...</p>

</div>
<br>


<!-- Custom Success Message -->
<div class="row show-hide-message" ng-show="main.successMsg">
	<div class="alert alert-success">{{ main.successMsg }}</div>
</div>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="main.errorMsg">
	<div class="alert alert-danger">{{ main.errorMsg }}&nbsp<a ng-show="main.expired" href="/resend"><button type="button" class="btn btn-success">Resend Activation Link</button></a></div>
</div>

<!-- Custom Facebook Error Message -->
<div class="row show-hide-message" ng-show="facebook.errorMsg">
	<div class="alert alert-danger">{{ facebook.errorMsg }}&nbsp<a ng-show="facebook.expired" href="/resend"><button type="button" class="btn btn-success">Resend Activation Link</button></a></div>
</div>

<!-- Custom Twitter Error Message -->
<div class="row show-hide-message" ng-show="twitter.errorMsg">
	<div class="alert alert-danger">{{ twitter.errorMsg }}&nbsp<a ng-show="twitter.expired" href="/resend"><button type="button" class="btn btn-success">Resend Activation Link</button></a></div>
</div>

<!-- Custom Google Error Message -->
<div class="row show-hide-message" ng-show="google.errorMsg">
	<div class="alert alert-danger">{{ google.errorMsg }}&nbsp<a ng-show="google.expired" href="/resend"><button type="button" class="btn btn-success">Resend Activation Link</button></a></div>
</div>