<div class  "page-header" > 
	<h1>User Management</h1>
</div>

<br>

<div class = "jumbotron text-center" ng-show="management.loading">
	<span class = "glymphicon glymphicon-repeat spinner"></span>
	<p>Loading...</p>

</div>
<br>




<div class="showmore">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-text"> Results to display:</span>
			<input type="text" class="form-control" ng-model="number">&nbsp&nbsp
			<button type="button" ng-click="management.showMore(number);" class="btn btn-success ">Apply Filter</button>
<button type="button" ng-click="management.showAll(number);" class="btn btn-warning">Show All</button>
		</div>
	</div>
</div>




<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="management.showMoreError">
	<div class="alert alert-danger">{{ management.showMoreError }}</div>
</div>

<br>
<br>

<div class="panel panel-primary">
<!-- 	<div class="panel-heading">
		<strong>User Management</strong>
	</div> -->
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Permission</th>
			<th></th>	
		</tr>
		<tr ng-repeat="person in management.users | limitTo: management.limit">
			<td>{{person.name }}</td>
			<td>{{person.username}}</td>
			<td>{{person.email}}</td>
			<td>{{person.permission}}</td>
			<td>
				<a href="#">
					<button type="button" ng-show="management.editAccess"class="btn btn-primary">Edit</button>
				</a>
				<a href="#">
						<button type="button" ng-show="management.deleteAccess"class="btn btn-danger">Delete</button>			
				</a>
			</td>
		</tr>
	</table>

</div>



<!-- Custom Success Message -->
<div class="row show-hide-message" ng-show="management.successMsg">
	<div class="alert alert-success">{{ management.successMsg }}</div>
</div>
